APP_MODE=prod
FLASK_ENV=production

POSTGRES_DB=erpmini
POSTGRES_USER=erpuser
POSTGRES_PASSWORD=change_me_strong_password

SECRET_KEY=change_me_to_a_long_random_secret

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin_password

USE_PROXY_FIX=true
PREFERRED_URL_SCHEME=https
SESSION_COOKIE_SECURE=true
SESSION_COOKIE_SAMESITE=Lax
SESSION_TIMEOUT_MINUTES=120

COMPANY_NAME=Cong ty TNHH ERP-VIET
COMPANY_ADDRESS=123 Duong ABC, TP.HCM
COMPANY_PHONE=0903 671 304
COMPANY_TAX_CODE=0123456789
COMPANY_EMAIL=info@example.com

ALLOW_NEGATIVE_STOCK=false

WEB_CONCURRENCY=2
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120

REDIS_PASSWORD=change_me_redis_password
